/*================================================
                  BODY
==================================================*/

html, body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 0;
  margin: 0px auto;
  /*overflow: hidden;*/
    
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}


.top-head, .scrollmenu {
  /*position: fixed;
  overflow: hidden;*/
}

.top-head #band-name {
    float: left;
}

.top-head .subcribe {
    float: right;
    margin-top: 8px;
}

.top-head .subcribe button {
    background-color: transparent;
    border: 2px solid #bf8e0e;
    padding: 0;
}

.top-head .subcribe button:hover {
    background-color: #bf8e0e;
        transition: all 0.5s;
}

.top-head #band-name h1 a {
    width: 310px;
    overflow: hidden;
    text-align: left;
    font-size: 54.2px;
    color: #ffffff;
    font-weight: bold;
}

.top-head #band-name h1 {
    margin: 0;
}

#abc {
  height: 1500px;
  background-color: yellow;
}

p {
    font-size: 14px;
}

#below-header-part {
    background-color: white;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

/*================================================
                  NAVBAR
==================================================*/

header {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.top-head {
  background-color: transparent;
}

.top-head img {
  height: 40px;
  width: 50px;
}

.subcribe button a {
    color: #ffffff;
    padding: 9px;
    text-align: center;
    float: right;
    z-index: 1;
    cursor: pointer;
    width: 138px;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
}

div.scrollmenu {
  white-space: nowrap;
  overflow: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid gray;
}

div.scrollmenu a {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .social-icon .hidden-on-mobile {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .scrollmenu #desktop {
    display: none;
  }
  ::-webkit-scrollbar {
    background: transparent;
    /* optional: just make scrollbar invisible */
    display: none;
  }
  .scrollmenu {
    border-top: 2px solid #BF8E0C;
  }
  .highlight {
    border-top: 2px solid #BF8E0C;
  }
  .home-menu {
    border-top: 2px solid #BF8E0C;
    height: 24px;
  }
  .scrollmenu {
    border-bottom: 2px solid #ECECEC;
  }
  .scrollmenu a {
    padding: 7px 0;
    width: 65px;
    margin-left: 0px;
    margin-right: 7px;
  }
  .scrollmenu #mobile {
    width: 42px;
  }
}

@media screen and (min-width: 801px) {
  .scrollmenu {
    text-align: center;
  }
  .highlight {
    border-bottom: 2px solid #BF8E0C;
  }
  .home-menu {
    border-bottom: 2px solid #BF8E0C;
  }
  .scrollmenu a {
    padding: 10px 0px;
  }
  .scrollmenu #mobile {
    display: none;
  }
  .menu-item {
    margin: 0 20px;
  }
}

/*================================================
                  MUSIC PLAYER
==================================================*/

.video-cnt video {
    display: block;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    outline: none;
    object-fit: contain;
}


.gradient-overlay {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.557703;
    z-index: 1;
    background: rgb(0, 0, 0);
    height: 100vh;
}
/*================================================
                  MUSIC PLAYER
==================================================*/
#player-outer {
    position: relative;
    background-color: white;
}

#player-outer {
  z-index: 2;
}

@media screen and (min-width: 320px) and (max-width: 374px) {

    #player-outer {
      position: fixed;
      height: 62px;
      bottom: 0;
      width: 100%;
      overflow: hidden;
      background-color: white;
    }

    .up-music-player, #audio-player #buttons, #audio-player #song-tracker {
      position: absolute;
      margin: 5px;
    }

    #audio-player #song-tracker {
      top: -7px;
      width: 97%;
      padding: 5px;
      margin-right: 10px;
    }

    .up-music-player {
      top: -9px;
      left: 0px;
      width: 60%;
    }

    #audio-player #buttons {
      top: 13px;
      right: 0px;
      width: 35%;
      padding-left: 0px;
      margin-right: -14px;
    }

    #volume-bar {
      display: none;
    }

    .up-music-player .item-left {
      float: left;
      margin-top: 20px;
      margin-left: -15px;
    }
    .up-music-player .item-left img {
      width: 40px;
      height: 40px;
      float: left;
    }
    .up-music-player .item-left .track-info {
      float: left;
      margin-left: 10px;
      padding-top: 6px;
    }
    .up-music-player .item-left .track-info span {
      display: block;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
    }
    .up-music-player .item-left .track-info .name {
      color: #333333;
    }
    .up-music-player .item-left .track-info .album {
      color: #333333;
    }
    #audio-player {
      margin-top: -6px;
    }
    .fa-backward {
      color: #000;
    }
    .fa-forward {
      color: #000;
    }
    #volume-bar {
      margin-top: 37px;
    }
    #volume-bar span {
      float: left;
    }
    #volume-bar #volume {
      float: right;
      margin-top: 8px;
      width: 85%;
      background-color: #F1F1F1;
    }
    #audio-info .artist {
      font-weight: bold;
    }
    input#volume {
      -webkit-appearance: none !important;
      height: 1px;
      outline: none;
    }
    input#volume::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      background: url("knob.png") no-repeat;
      height: 12px;
      width: 12px;
    }
    #buttons {
      margin-top: 20px;
      display: block;
      overflow: auto;
    }
    button#play {
      width: 40px;
      height: 40px;
      float: left;
      margin-left: 8px;
      background-color: white;
      border-radius: 50%;
      margin-top: 4px;
      outline: none;
      border-color: #343a40;
    }
    .fa-play {
      margin-left: 4px;
    }
    button#pause {
      width: 40px;
      height: 40px;
      float: left;
      margin-left: 8px;
      background-color: white;
      border-radius: 50%;
      margin-top: 4px;
      outline: none;
      border-color: #343a40;
    }
    .fa-pause {
      vertical-align: -9%;
    }
    button#prev {
      float: left;
      background-color: transparent;
      margin-top: 15px;
      margin-right: -6px;
      border: none;
    }
    button#next {
      float: right;
      margin-top: 15px;
      background-color: transparent;
      border: none;
    }
    #tracker {
      position: relative;
      width: 100%;
    }
    #progress-bar {
      width: 93%;
      margin-left: -3%;
      margin-bottom: 10px;
      margin-top: 11px;
      height: 3px;
      float: left;
      background-color: #F1F1F1;
      margin-right: -1%;
    }
    #progress {
      height: 10px;
      display: inline-block;
      height: 3px;
      display: inline-block;
      background-color: #2582BE;
      float: left;
    }
    #duration {
      position: absolute;
      top: -3px;
      padding: 5px 8px;
      border-radius: 5px;
      font-size: 14px;
    }
    #playlist {
      list-style: none;
    }
    #playlist li {
      cursor: pointer;
      margin: 5px;
    }
    #playlist li.active {
      font-weight: bold;
      padding: 3px;
      background: #666;
    }
    #song-tracker {
      margin-top: 32px;
    }
}

@media screen and (min-width: 375px) and (max-width: 400px) {
  #player-outer {
    position: fixed;
    height: 62px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
  }

  .up-music-player, #audio-player #buttons, #audio-player #song-tracker {
    position: absolute;
    margin: 5px;
  }

  #audio-player #song-tracker {
    top: -7px;
    width: 97%;
    padding: 5px;
    margin-right: 10px;
  }

  .up-music-player {
    top: -9px;
    left: 0px;
    width: 60%;
  }

  #audio-player #buttons {
    top: 13px;
    right: -18px;
    width: 32%;
    padding-left: 0px;
  }

  #volume-bar {
    display: none;
  }

  .up-music-player .item-left {
    float: left;
    margin-top: 20px;
    margin-left: -15px;
  }
  .up-music-player .item-left img {
    width: 40px;
    height: 40px;
    float: left;
  }
  .up-music-player .item-left .track-info {
    float: left;
    margin-left: 10px;
    padding-top: 6px;
  }
  .up-music-player .item-left .track-info span {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
  }
  .up-music-player .item-left .track-info .name {
    color: #333333;
  }
  .up-music-player .item-left .track-info .album {
    color: #333333;
  }
  #audio-player {
    margin-top: -6px;
  }
  .fa-backward {
    color: #000;
  }
  .fa-forward {
    color: #000;
  }
  #volume-bar {
    margin-top: 37px;
  }
  #volume-bar span {
    float: left;
  }
  #volume-bar #volume {
    float: right;
    margin-top: 8px;
    width: 85%;
    background-color: #F1F1F1;
  }
  #audio-info .artist {
    font-weight: bold;
  }
  input#volume {
    -webkit-appearance: none !important;
    height: 1px;
    outline: none;
  }
  input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: url("knob.png") no-repeat;
    height: 12px;
    width: 12px;
  }
  #buttons {
    margin-top: 20px;
    display: block;
    overflow: auto;
  }
  button#play {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 11px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px;
    outline: none;
    border-color: #343a40;
  }
  .fa-play {
    margin-left: 4px;
  }
  button#pause {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 11px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px;
    outline: none;
    border-color: #343a40;
  }
  .fa-pause {
    vertical-align: -9%;
  }
  button#prev {
    float: left;
    background-color: transparent;
    margin-top: 15px;
    margin-right: -6px;
    border: none;
  }
  button#next {
    float: right;
    margin-top: 15px;
    background-color: transparent;
    border: none;
  }
  #tracker {
    position: relative;
    width: 100%;
  }
  #progress-bar {
    width: 95%;
    margin-left: -3%;
    margin-bottom: 10px;
    margin-top: 11px;
    height: 3px;
    float: left;
    background-color: #F1F1F1;
    margin-right: -1%;
  }
  #progress {
    height: 10px;
    display: inline-block;
    height: 3px;
    display: inline-block;
    background-color: #2582BE;
    float: left;
  }
  #duration {
    position: absolute;
    top: -3px;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 14px;
  }
  #playlist {
    list-style: none;
  }
  #playlist li {
    cursor: pointer;
    margin: 5px;
  }
  #playlist li.active {
    font-weight: bold;
    padding: 3px;
    background: #666;
  }
  #song-tracker {
    margin-top: 32px;
  }
}

@media screen and (min-width: 401px) and (max-width: 450px) {
  #player-outer {
    position: fixed;
    height: 62px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
  }

  .up-music-player, #audio-player #buttons, #audio-player #song-tracker {
    position: absolute;
    margin: 5px;
  }

  #audio-player #song-tracker {
    top: -7px;
    width: 97%;
    padding: 5px;
    margin-right: 10px;
  }

  .up-music-player {
    top: -9px;
    left: 0px;
    width: 60%;
  }

  #audio-player #buttons {
    top: 13px;
    right: -16px;
    width: 30%;
    padding-left: 0px;
  }

  #volume-bar {
    display: none;
  }

  .up-music-player .item-left {
    float: left;
    margin-top: 20px;
    margin-left: -15px;
  }
  .up-music-player .item-left img {
    width: 40px;
    height: 40px;
    float: left;
  }
  .up-music-player .item-left .track-info {
    float: left;
    margin-left: 10px;
    padding-top: 6px;
  }
  .up-music-player .item-left .track-info span {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
  }
  .up-music-player .item-left .track-info .name {
    color: #333333;
  }
  .up-music-player .item-left .track-info .album {
    color: #333333;
  }
  #audio-player {
    margin-top: -6px;
  }
  .fa-backward {
    color: #000;
  }
  .fa-forward {
    color: #000;
  }
  #volume-bar {
    margin-top: 37px;
  }
  #volume-bar span {
    float: left;
  }
  #volume-bar #volume {
    float: right;
    margin-top: 8px;
    width: 85%;
    background-color: #F1F1F1;
  }
  #audio-info .artist {
    font-weight: bold;
  }
  input#volume {
    -webkit-appearance: none !important;
    height: 1px;
    outline: none;
  }
  input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: url("knob.png") no-repeat;
    height: 12px;
    width: 12px;
  }
  #buttons {
    margin-top: 20px;
    display: block;
    overflow: auto;
  }
  button#play {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 14px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px;
    outline: none;
    border-color: #343a40;
  }
  .fa-play {
    margin-left: 4px;
  }
  button#pause {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 14px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px;
    outline: none;
    border-color: #343a40;
  }
  .fa-pause {
    vertical-align: -9%;
  }
  button#prev {
    float: left;
    background-color: transparent;
    margin-top: 15px;
    margin-right: -6px;
    border: none;
  }
  button#next {
    float: right;
    margin-top: 15px;
    background-color: transparent;
    border: none;
  }
  #tracker {
    position: relative;
    width: 100%;
  }
  #progress-bar {
    width: 96%;
    margin-left: -3%;
    margin-bottom: 10px;
    margin-top: 11px;
    height: 3px;
    float: left;
    background-color: #F1F1F1;
    margin-right: -1%;
  }
  #progress {
    height: 10px;
    display: inline-block;
    height: 3px;
    display: inline-block;
    background-color: #2582BE;
    float: left;
  }
  #duration {
    position: absolute;
    top: -3px;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 14px;
  }
  #playlist {
    list-style: none;
  }
  #playlist li {
    cursor: pointer;
    margin: 5px;
  }
  #playlist li.active {
    font-weight: bold;
    padding: 3px;
    background: #666;
  }
  #song-tracker {
    margin-top: 32px;
  }
}

@media screen and (min-width: 451px) and (max-width: 519px) {
  #player-outer {
    position: fixed;
    height: 62px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
  }

  .up-music-player, #audio-player #buttons, #audio-player #song-tracker {
    position: absolute;
    margin: 5px;
  }

  #audio-player #song-tracker {
    top: -7px;
    width: 97%;
    padding: 5px;
    margin-right: 10px;
  }

  .up-music-player {
    top: -9px;
    left: 0px;
    width: 60%;
  }

  #audio-player #buttons {
    top: 13px;
    right: -19px;
    width: 26%;
    padding-left: 0px;
  }

  #volume-bar {
    display: none;
  }

  .up-music-player .item-left {
    float: left;
    margin-top: 20px;
    margin-left: -15px;
  }
  .up-music-player .item-left img {
    width: 40px;
    height: 40px;
    float: left;
  }
  .up-music-player .item-left .track-info {
    float: left;
    margin-left: 10px;
    padding-top: 6px;
  }
  .up-music-player .item-left .track-info span {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
  }
  .up-music-player .item-left .track-info .name {
    color: #333333;
  }
  .up-music-player .item-left .track-info .album {
    color: #333333;
  }
  #audio-player {
    margin-top: -6px;
  }
  .fa-backward {
    color: #000;
  }
  .fa-forward {
    color: #000;
  }
  #volume-bar {
    margin-top: 37px;
  }
  #volume-bar span {
    float: left;
  }
  #volume-bar #volume {
    float: right;
    margin-top: 8px;
    width: 85%;
    background-color: #F1F1F1;
  }
  #audio-info .artist {
    font-weight: bold;
  }
  input#volume {
    -webkit-appearance: none !important;
    height: 1px;
    outline: none;
  }
  input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: url("knob.png") no-repeat;
    height: 12px;
    width: 12px;
  }
  #buttons {
    margin-top: 20px;
    display: block;
    overflow: auto;
  }
  button#play {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 14px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px;
    outline: none;
    border-color: #343a40;
  }
  .fa-play {
    margin-left: 4px;
  }
  button#pause {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 14px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px;
    outline: none;
    border-color: #343a40;
  }
  .fa-pause {
    vertical-align: -9%;
  }
  button#prev {
    float: left;
    background-color: transparent;
    margin-top: 15px;
    margin-right: -6px;
    border: none;
  }
  button#next {
    float: right;
    margin-top: 15px;
    background-color: transparent;
    border: none;
  }
  #tracker {
    position: relative;
    width: 100%;
  }
  #progress-bar {
    width: 97.5%;
    margin-left: -3%;
    margin-bottom: 10px;
    margin-top: 11px;
    height: 3px;
    float: left;
    background-color: #F1F1F1;
    margin-right: -1%;
  }
  #progress {
    height: 10px;
    display: inline-block;
    height: 3px;
    display: inline-block;
    background-color: #2582BE;
    float: left;
  }
  #duration {
    position: absolute;
    top: -3px;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 14px;
  }
  #playlist {
    list-style: none;
  }
  #playlist li {
    cursor: pointer;
    margin: 5px;
  }
  #playlist li.active {
    font-weight: bold;
    padding: 3px;
    background: #666;
  }
  #song-tracker {
    margin-top: 32px;
  }
}

@media screen and (min-width: 520px) and (max-width: 991px) {
  #player-outer {
    position: fixed;
    height: 62px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
  }

  .up-music-player, #audio-player #buttons, #audio-player #song-tracker {
    position: absolute;
    margin: 5px;
  }

  #audio-player #song-tracker {
    top: -7px;
    width: 97%;
    padding: 5px;
    margin-right: 10px;
  }

  .up-music-player {
    top: -9px;
    left: 0px;
    width: 60%;
  }

  #audio-player #buttons {
    top: 13px;
    right: -9px;
    width: 258px;
    padding-left: 128px;
  }

  #volume-bar {
    display: none;
  }

  .up-music-player .item-left {
    float: left;
    margin-top: 20px;
    margin-left: -15px;
  }
  .up-music-player .item-left img {
    width: 40px;
    height: 40px;
    float: left;
  }
  .up-music-player .item-left .track-info {
    float: left;
    margin-left: 10px;
    padding-top: 6px;
  }
  .up-music-player .item-left .track-info span {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
  }
  .up-music-player .item-left .track-info .name {
    color: #333333;
  }
  .up-music-player .item-left .track-info .album {
    color: #333333;
  }
  #audio-player {
    margin-top: -6px;
  }
  .fa-backward {
    color: #000;
  }
  .fa-forward {
    color: #000;
  }
  #volume-bar {
    margin-top: 37px;
  }
  #volume-bar span {
    float: left;
  }
  #volume-bar #volume {
    float: right;
    margin-top: 8px;
    width: 85%;
    background-color: #F1F1F1;
  }
  #audio-info .artist {
    font-weight: bold;
  }
  input#volume {
    -webkit-appearance: none !important;
    height: 1px;
    outline: none;
  }
  input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: url("knob.png") no-repeat;
    height: 12px;
    width: 12px;
  }
  #buttons {
    margin-top: 20px;
    display: block;
    overflow: auto;
  }
  button#play {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 14px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px;
    outline: none;
    border-color: #343a40;
  }
  .fa-play {
    margin-left: 4px;
  }
  button#pause {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 14px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px;
    outline: none;
    border-color: #343a40;
  }
  .fa-pause {
    vertical-align: -9%;
  }
  button#prev {
    float: left;
    background-color: transparent;
    margin-top: 15px;
    margin-right: -6px;
    border: none;
  }
  button#next {
    float: right;
    margin-top: 15px;
    background-color: transparent;
    border: none;
  }
  #tracker {
    position: relative;
    width: 100%;
  }
  #progress-bar {
    width: 96%;
    margin-left: -1%;
    margin-bottom: 10px;
    margin-top: 11px;
    height: 3px;
    float: left;
    background-color: #F1F1F1;
    margin-right: -1%;
  }
  #progress {
    height: 10px;
    display: inline-block;
    height: 3px;
    display: inline-block;
    background-color: #2582BE;
    float: left;
  }
  #duration {
    position: absolute;
    top: -3px;
    padding: 6px 2%;
    border-radius: 5px;
    font-size: 14px;
  }
  #playlist {
    list-style: none;
  }
  #playlist li {
    cursor: pointer;
    margin: 5px;
  }
  #playlist li.active {
    font-weight: bold;
    padding: 3px;
    background: #666;
  }
  #song-tracker {
    margin-top: 32px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1190px) {

  .up-music-player {
    margin-top: -12px;
    padding: 0px;
  }

  .up-music-player .item-left {
    float: left;
    margin-top: 20px;
  }
  .up-music-player .item-left img {
    width: 40px;
    height: 40px;
    float: left;
  }
  .up-music-player .item-left .track-info {
    float: left;
    margin-left: 10px;
    padding-top: 6px;
  }
  .up-music-player .item-left .track-info span {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
  }
  .up-music-player .item-left .track-info .name {
    color: #333333;
  }
  .up-music-player .item-left .track-info .album {
    color: #333333;
  }
  #audio-player {
    margin-top: -6px;
  }
  .fa-backward {
    color: #000;
  }
  .fa-forward {
    color: #000;
  }
  #volume-bar {
    margin-top: 26px;
    margin-left: 10px;
  }
  #volume-bar span {
    float: left;
  }
  #volume-bar #volume {
    float: right;
    margin-top: 8px;
    width: 85%;
    background-color: darkgrey;
  }
  #audio-info .artist {
    font-weight: bold;
  }
  input#volume {
    -webkit-appearance: none !important;
    height: 1px;
    outline: none;
  }
  input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: url("knob.png") no-repeat;
    height: 12px;
    width: 12px;
  }
  #buttons {
    margin-top: 5px;
    display: block;
    overflow: auto;
    padding: 5px;
  }
  button#play {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: -2px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px;
    outline: none;
    border-color: #343a40;
  }
  .fa-play {
    margin-left: 4px;
  }
  button#pause {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: -2px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px;
    outline: none;
    border-color: #343a40;
  }
  .fa-pause {
    vertical-align: -9%;
  }
  button#prev {
    float: left;
    background-color: transparent;
    margin-top: 15px;
    margin-right: 15px;
    border: none;
  }
  button#next {
    float: right;
    margin-top: 15px;
    background-color: transparent;
    border: none;
  }
  #tracker {
    position: relative;
    width: 100%;
  }
  #progress-bar {
    width: 90%;
    margin-left: 2%;
    margin-top: 2px;
    height: 3px;
    float: left;
    background-color: #2582BE;
  }
  #progress {
    height: 10px;
    display: inline-block;
    height: 3px;
    display: inline-block;
    background-color: #000;
    float: left;
  }
  #duration {
    position: absolute;
    top: -12px;
    padding: 4px 8px;
    border-radius: 5px;
  }
  #playlist {
    list-style: none;
  }
  #playlist li {
    cursor: pointer;
    margin: 5px;
  }
  #playlist li.active {
    font-weight: bold;
    padding: 3px;
    background: #666;
  }
  #song-tracker {
    margin-top: 32px;
    margin-left: -10px;
  }
}

@media screen and (min-width: 1191px) {

  .up-music-player {
    margin-top: -12px;
    padding: 0px;
  }

  .up-music-player .item-left {
    float: left;
    margin-top: 20px;
  }
  .up-music-player .item-left img {
    width: 40px;
    height: 40px;
    float: left;
  }
  .up-music-player .item-left .track-info {
    float: left;
    margin-left: 10px;
    padding-top: 6px;
  }
  .up-music-player .item-left .track-info span {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
  }
  .up-music-player .item-left .track-info .name {
    color: #333333;
  }
  .up-music-player .item-left .track-info .album {
    color: #333333;
  }
  #audio-player {
    margin-top: -6px;
  }
  .fa-backward {
    color: #000;
  }
  .fa-forward {
    color: #000;
  }
  #volume-bar {
    margin-top: 26px;
    margin-left: 10px;
  }
  #volume-bar span {
    float: left;
  }
  #volume-bar #volume {
    float: right;
    margin-top: 8px;
    width: 85%;
    background-color: darkgrey;
  }
  #audio-info .artist {
    font-weight: bold;
  }
  input#volume {
    -webkit-appearance: none !important;
    height: 1px;
    outline: none;
  }
  input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: url("knob.png") no-repeat;
    height: 12px;
    width: 12px;
  }
    
  #buttons {
    margin-top: 5px;
    display: block;
    overflow: auto;
    padding-top: 5px;
  }
    
  button#play {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: -2px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px;
    outline: none;
    border-color: #343a40;
  }
    
  .fa-play {
    margin-left: 4px;
  }
    
  button#pause {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: -2px;
    background-color: white;
    border-radius: 50%;
    margin-top: 4px;
    outline: none;
    border-color: #343a40;
  }
  .fa-pause {
    vertical-align: -9%;
  }
  button#prev {
    float: left;
    background-color: transparent;
    margin-top: 15px;
    margin-right: 15px;
    border: none;
  }
  button#next {
    float: right;
    margin-top: 15px;
    background-color: transparent;
    border: none;
  }
  #tracker {
    position: relative;
    width: 100%;
  }
  #progress-bar {
    width: 90%;
    margin-left: 2%;
    margin-top: 2px;
    height: 3px;
    float: left;
    background-color: #2582BE;
  }
  #progress {
    height: 10px;
    display: inline-block;
    height: 3px;
    display: inline-block;
    background-color: #000;
    float: left;
  }
  #duration {
    position: absolute;
    top: -12px;
    padding: 4px 8px;
    border-radius: 5px;
  }
  #playlist {
    list-style: none;
  }
  #playlist li {
    cursor: pointer;
    margin: 5px;
  }
  #playlist li.active {
    font-weight: bold;
    padding: 3px;
    background: #666;
  }
  #song-tracker {
    margin-top: 32px;
    margin-left: -10px;
  }
}

/*================================================
                  FEATURED EVENT 
==================================================*/

.wrapper {
  border: 1px solid rgba(207, 180, 134, 0.5);
  border-radius: 5px;
}

.feature-event {
  margin-top: 50px;
}

.featured {
  border-right: none;
}

.event {
  border-left: none;
}

.featured p {
  text-transform: uppercase;
  color: #BF8E0C;
}

.featured ul {
  list-style: none;
  padding: 0px;
}

.featured ul li {
  margin-bottom: 20px;
  font-size: 14px;
}

.event p {
  text-transform: uppercase;
}

.event ul {
  list-style: none;
  padding: 0px;
}

.event-item .left-item {
  width: 77px;
  height: 80px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3em;
  text-align: center;
  border: 0px solid #BF8E0C;
  background-color: #BF8E0C;
  border-radius: 0;
}

.event-item .left-item li:first-child {
  margin-top: 18px;
}

.event-item .right-item {
  line-height: 1.2em;
  font-size: 14px;
  display: block;
  margin-left: 10px;
}

.event-item {
    display: flex;
    margin-top: 17px;
}

.featured p, .event p {
  color: #BF8E0C;
  margin-top: 27px;
  margin-bottom: -12px;
  letter-spacing: 2px;
  font: normal normal normal 18px/1.2em 'Open Sans',sans-serif;
}

.featured hr {
  border-top: 1px solid rgba(0,0,0,.1);
  background-color: #E7D3B1;
}

.event hr {
  border-top: 1px solid rgba(0,0,0,.1);
  background-color: #E7D3B1;
}

/*================================================
                  VIDEOS
==================================================*/

.video-gallery .video-wrapper .video-detail iframe {
  width: 100%;
  height: 100%;
}

.video-gallery .video-wrapper .video-detail {
  padding: 2px;
}

.video-gallery .video-wrapper .video-list ul {
  list-style: none;
  padding: 0;
  margin-bottom: -7px;
}

.video-gallery .video-wrapper .video-list {
  padding: 2px;
}

.video-gallery .video-wrapper .video-list ul li {
  width: 100%;
}

.video-gallery .video-wrapper .video-list ul li iframe {
  width: 100%;
}

.video-gallery .video-wrapper .row {
  margin-left: 0px;
  margin-right: 0px;
}

.video-gallery .video-wrapper p {
  text-transform: uppercase;
  color: #E7D3B1;
  letter-spacing: 2px;
  font: normal normal normal 18px/1.2em 'Open Sans',sans-serif;
  margin-top: 40px;
}

.video-gallery .video-wrapper {
  padding: 0px;
}

/*================================================
                  INTRODUCTION
==================================================*/

.row.no-gutters [class*=col-] .img-wrapper img {
    height: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

#img-be-changed {
    height: 220px;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform .5s ease;
}

.img-wrapper img:hover {
    transform:scale(1.5)
}


.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}

.title-content {
  text-transform: uppercase;
  color: #BF8E0C;
  letter-spacing: 2px;
  font: normal normal normal 18px/1.2em 'Open Sans',sans-serif;
  margin-top: 35px;
  text-align: center;
  margin-bottom: 5px;
}

.content-title-underline {
    width: 55px;
    height: 3px;
    background-color: #BF8E0C;
    margin: 0 auto 30px auto;
    margin-bottom: 35px;
}

.new-wrapper .content-wrapper {
  padding: 0px;
  margin-bottom: 35px;
}

.new-wrapper .content-wrapper .panel-body {
  padding: 0px;
}

.new-wrapper .content-wrapper .panel-body a {
  color: #BF8E0C;
}

.content-wrapper .panel-body .media .media-body a h4 {
    color: #333;
    text-transform: uppercase;
}

.content-wrapper .panel-body .media .media-body a h4:hover {
    text-decoration: none;
    color: #BF8E0C;
    cursor: pointer;
}

#intro-content, #advertise-img {
    padding: 5px;
}

#intro-content {
    padding-bottom: 10px;
}

/*================================================
                  NEWS
==================================================*/

.news-author {
    padding-left: 10px;
}

/*================================================
                  FOOTER
==================================================*/

#footer {
    background-color: #222222;
    padding-top: 45px;
    padding-bottom: 10px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#footer #subscribe-follow {
    padding: 0px;
}


#footer #subscribe-follow p {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FDFDFE;
}

#footer #subscribe-follow #first-line span {
    color: #BF8E0C;
}

#footer #subscribe-follow #first-line {
    margin: 0px;
}


#footer #email-icon-subscribe #social-icon-group {
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;
}

#footer #email-icon-subscribe #social-icon-group li {
    display: inline;
    padding-right: 15px;
    padding-left: 4px;
}

#footer #email-icon-subscribe #social-icon-group a:hover .fa {
    color: #BF8E0C;
}

#footer #email-icon-subscribe #social-icon-group li .fa {
    color: #ffffff;
}

#footer #email-icon-subscribe #email-subscribe {
    list-style: none;
    padding-left: 0;
}

#footer #email-icon-subscribe #email-subscribe li {
    display: inline;
}

#footer #email-icon-subscribe {
    padding: 0px;
}

#footer #social-icon-group {
    margin: 0px;
}

#footer #social-icon-group .fa-lg {
    font-size: 2.0em;
}

#footer #email-subscribe {
    margin: 0px;
}

#footer #email-subscribe li:first-child input {
    width: 55%;
    background-color: transparent;
    height: 32px;
    border-radius: inherit;
    border: 1px solid #444141;
    color: #7d7d7d;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    font-family: "proxima-nova",Helvetica,Arial,sans-serif;
    padding-left: 10px;
    outline: none;
}

#footer #email-subscribe li:last-child input {
    background-color: transparent;
    border-radius: inherit;
    color: white;
    font-size: 12px;
    height: 32px;
    width: 80px;
    letter-spacing: 2px;
    padding-top: 5px;
    border: 1px solid #444141;
    color: #ffffff;
    outline: none;
}

#footer #copyright p {
    color: #3A3838;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 0;
}

#footer #copyright {
    margin-top: 50px;
}

#footer #term {
    font-size: 8.3px;
    font-weight: 400;
    letter-spacing: 0.8px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    display: inline-block;
    line-height: 9px;
    border-bottom: 1px solid rgba(191,142,14,0.42);
}

#footer #term a {
    color: #bf8e0e;
}

/*================================================
                  SHOW DETAIL
==================================================*/
.event-detail {
    padding-top: 70px;
}

.event-detail #event-top {
    list-style: none;
    padding: 0;
}

.event-detail #event-date {
    width: 77px;
    height: 77px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3em;
    text-align: center;
    border: 0px solid #BF8E0C;
    background-color: #BF8E0C;
    border-radius: 0;
    padding: 17px;
}

.event-detail #event-date p {
    margin: 0;
}

#event-top {
    display: inline-flex;
}

#title-subtitle-event {
    padding-left: 12px;
    font-size: 13px;
}

#title-subtitle-event h3 {
    margin: 0px;
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 7px;
    font-weight: initial;
}

#title-subtitle-event ul {
    padding-left: 0px;
}

#title-subtitle-event ul li {
    display: inline;
    padding-right: 25px;
}

.parallax {
    height: 350px;
    background-image: url(../../images/parallax/para4.jpg);
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.breadcumb {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
}

.breadcumb .row {
    margin-top: 90px;
}

.parallax .breadcumb h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.breadcumb .sub-breadcrumbs {
    text-align: center;
    color: #ffff;
}

.breadcumb .sub-breadcrumbs ul {
    display: inline-flex;
    font-size: 14px;
    line-height: 26px;
}

.breadcumb .sub-breadcrumbs ul li:first-child {
    padding-right: 30px;
}

.breadcumb .sub-breadcrumbs ul li:first-child a {
    color: #ffff;
}

.breadcumb .sub-breadcrumbs ul li:first-child a:after   {
    position: absolute;
    font-family: "FontAwesome", sans-serif;
    content: "\f105";
    font-size: 14px;
    padding-left: 11px;
    padding-right: 5px;

}

#first-event-content {
    margin-top: 20px;
}

#second-event-content {
    margin-bottom: 50px;
}

#content-img {
    width: 100%;
}

#book-event-infor .block-item {
    background-color: #111D2A;
    padding: 15px;
    margin-bottom: 15px;
}


#book-event-infor ul {
    list-style: none;
    padding: 0;
}

#book-event-infor ul li {
/*
   padding: 5px;
    margin: 5px;
*/
}


#book-event-infor {
    color: white;
}

#book-event-infor #number-ticket ul li:first-child button, li:last-child button {
    background-color: transparent;
    border: none;
    outline: none;
}


#book-event-infor ul li:first-child, #price, #total-price {
    font-size: 17px;
    text-transform: uppercase;
}

#book-event-infor ul #book-btn {
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
}

#book-event-infor ul li:first-child {
    text-align: left;
    padding: 0;
    padding-left: 0px;
}

#book-event-infor ul #price {
    color: #BF8E0C;
}


#book-event-infor #number-ticket, #price-type {
    background-color: #192838;
}

#book-event-infor #number-ticket div {
    display: inline;
}

#book-event-infor #number-ticket div input {
    width: 50px;
    float: right;
    background-color: white;
    color: #333333;
    outline: none;
    text-align: center;
}

#book-event-infor #number-ticket div label {
    font-size: 14px;
    font-weight: normal;
}

#book-event-infor #number-ticket ul #value input {
    width: 50px;
}

#book-event-infor #price-type ul li {
    display: inline;
}

#book-event-infor #price-type ul li:first-child {
    font-size: 14px;
    text-transform: none;
}

#book-event-infor #price-type ul li:last-child {
    float: right;
    margin-right: 4px;
    position: relative;
    display: inline-block;
}

#book-event-infor #price-type ul li:last-child #dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#book-event-infor #price-type ul li:last-child:hover #dropdown-content {
    display: block;
}
 
#book-event-infor #total-price #total-value {
    float: right;
    color: #BF8E0C;
}

#book-event-infor #book-btn {
    text-align: center;
}

#book-event-infor #book-btn button {
    text-transform: uppercase;
    background-color: #BF8E0C;
    color: #ffffff;
    padding-top: 5px;
    font-weight: bold;
    border: 0px solid #BF8E0C;
    height: 31px;
    width: 100%;
    outline: none;
}


#book-event-infor #book-btn a {
    color: #BF8E0C;
}

#book-event-infor .block-item ul li {
    margin-bottom: 12px;
}

#book-event-infor .block-item ul {
    margin-bottom: 0px;
}
 
#book-event-infor #number-ticket, #price-type {
    padding: 5px;
}

#book-event-infor .block-item .title-item {
    color: #BF8E0C;
}

.selectpicker {
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
}

#book-event-infor #number-ticket ul li:first-child {
    text-transform: none;
    font-size: 14px;
}

/*=========MODAL=========*/

.seat {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 15px;
    height: 50px;
    width: 100%;
    
}

.seat p {
    height: 30px;
    width: 26px;
    background-color: darkseagreen;
    padding: 5px;
    text-align: center;
    border-radius: 20%;
    position: absolute;
    top: 0px;
    margin-top: 10px;
}


.screen {
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: gray;
}

.row-number p {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (min-width: 991px) {
    .screen {
        border: 1px solid gray;
        border-radius: 4px;
        text-align: center;
        padding-top: 10px;
        margin-left: 10px;
    }
}


.book-titket-area {
    margin-top: 20px;
    margin-bottom: 50px;
}

.choice-seat-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.choice-seat-info ul li {
    margin: 15px auto;
    color: black;
    font-size: 14px;
}

.choice-seat-info ul li span {
    color: gray;
    padding-left: 5px;
}

.choice-seat-info {
    margin-top: 30px;
}

.op-ticket, .solid-ticket {
    height: 23px;
    width: 23px;
    border-radius: 20%;
    background-color: green;
}

#name-of-seat #chosen-seat {
    margin-left: 0px;
    border: none;
    background-color: transparent;
    padding: 0px;
}

.solid-ticket {
    background-color: dimgray;
}

#option-ticket-choice div {
    display: inline-flex;
}

#solid-ticket-choice div {
    display: inline-flex;
}

#name-of-seat {
    display: inline-flex;
}

#name-of-seat p {
    margin-left: 10px;
    border: 1px solid gray;
    background-color: lightgray;
    padding: 5px;
}


#book-ticket button {
height: 32px;
    width: 150px;
    letter-spacing: 2px;
    border-radius: inherit;
    background-color: #BF8E0C;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #ffff;
    margin-top: 40px;
}

#email {
    height: 39px;
    font-size: 12px;
}

.modal-body {
    font-size: 12px;
}
/*==========================NEWS=====================*/
.wrap-main-post h5 {
position: relative;
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.wrap-main-post .sidebar {
    margin-right: 70px;
}


.widget widget-search {
    margin-bottom: 55px;
}

#searchform {
    width: 100%;
    height: 60px;
    position: relative;
    margin: 0;
    
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

.widget.widget-search #searchform #s {
    height: 60px;
    line-height: 20px;
    width: 100%;
    padding: 0 10px 0 20px;
    font-size: 14px;
    outline: none;
}

.widget.widget-search #searchform #searchsubmit {
    padding: 3px;
    position: absolute;
    right: 17px;
    top: 13px;
    font-family: "FontAwesome";
    color: #333;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    outline: none;
}

.sidebar .widget {
    margin-bottom: 55px;
}

.sidebar .widget {
    margin-bottom: 55px;
}

.widget .widget-title {
    position: relative;
    font-family: sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
    text-transform: uppercase;
}


.widget .widget-title ul, ol {
    padding: 0;
    margin
}

.widget .widget-title ol, ul {
    list-style: none;
    padding: 0px;
}

.sidebar .widget .recent-posts li {
    position: relative;
    float: left;
    display: block;
}

.widget .recent-posts li .thumb {
    float: left;
    margin-right: 20px;
}

.widget .recent-posts li .thumb img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

.widget .recent-posts li .text {
    overflow: hidden;
    color: #666;
}

.widget .recent-posts li .text a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    padding-right: 25px;
    margin: 0;
}

.widget .recent-posts li .text p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 36px;
    color: #999;
}

.sidebar .widget ul li {
    padding: 15px 0;
}

.sidebar .widget {
    margin-bottom: 55px;
}

.widget .widget-title {
    position: relative;
    font-family: sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.widget .tag-list a {
    color: #303030;
    text-decoration: none;
}

.article {
    display: block;
}

.feature-post {
    float: left;
    padding-right: 30px;
}

posts .feature-post {
    margin-bottom: 25px;
}

posts .feature-post img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

.entry .content-post {
    overflow: hidden;
}

.entry .content-post .title-post {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #303030;
    text-transform: uppercase;
}

.entry .content-post .title-post a {
    color: #BF8E0C;
}

.entry .content-post ul {
    margin-bottom: 25px;
}

.entry .content-post ul li {
    display: inline-block;
    padding-right: 15px;
}

.entry .content-post a.more {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #BF8E0C;
    display: block;
    text-transform: uppercase;
    padding-top: 10px;
}

.entry .content-post a.more i.fa.fa-long-arrow-right {
    padding-left: 15px;
    transition: all 0.3s ease-in-out;
}

.entry .content-post a.more .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.entry .content-post h3 {
    text-transform: uppercase;
}

.blog-pagination {
    text-align: left;
}

.blog-pagination {
    padding-top: 30px;
}

.blog-pagination .flat-pagination li {
    border: 1px solid #dfdfdf;
    display: inline-block;
    margin-left: 1px;
}

.blog-pagination .flat-pagination li a {
    display: inline-block;
    line-height: 23px;
    font-size: 14px;
    padding: 10px 19px;
    font-family: "Montserrat", sans-serif;
    color: #333;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 300px) and (max-width: 991px) { 
    .entry .content-post {
        overflow: visible;
    }
}

.wrap-main-post {
    margin-top: 70px;
    margin-bottom: 50px;
}

.blog-pagination .flat-pagination li a {
    display: inline-block;
    line-height: 23px;
    font-size: 14px;
    padding: 10px 19px;
    font-family: sans-serif;
    color: #333;
}

.blog-pagination .flat-pagination li a:hover {
    background-color: #BF8E0C;
}

.meta-post clearfix, .author a, .day a {
    color: gray
}

.clearfix article {
    margin-bottom: 50px;
}

/*================================SINGLE NEWS==========================*/
.entry-post img {
    width: 65%;
} 

.meta-post {
    padding: 0px;
}

#second-content-part {
    padding-bottom: 40px;
    border-bottom: 1px solid #dfdfdf;
}

/*---------Social Share-----------*/

.wrap-share {
    padding-top: 20px;
}

.wrap-share .share-post {
    text-align: right;
}

.wrap-share .share-post .flat-socials a:hover {
    color: #BF8E11;
}

.wrap-share li.style {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 27px;
    font-weight: 700;
    color: #303030;
    text-transform: uppercase;
    padding-right: 15px;
}

.wrap-share .share-post ul li {
    display: inline-block;
    padding-right: 20px;
}

.wrap-share .share-post ul li {
    display: inline-block;
    padding-right: 20px;
}

.wrap-share .share-post ul li a {
    font-family: "FontAwesome";
    color: #303030;
    font-size: 18px;
}

/*---------Comment-----------*/

@media only screen and (max-width: 767px) {
    
}
.comment-post {
    padding: 30px 10px 30px 15px;
    background-color: #f5f5f5;
}

.comment-post .comment-list-wrap {
    border-bottom: none;
}

.comment-post h4.title.comment-title {
    margin-bottom: 0;
}

.comment-post h4.title, .post-wrap-single-v1 .related-posts h4.title {
    font-size: 20px;
    line-height: 23px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}

.comment-post ul li {
    overflow: hidden;
}

.comment-post .comment {
    padding: 40px 0;
    border-bottom: 1px solid #d5d5d5;
    padding-top: 10px;
}

.comment-post .comment {
    position: relative;
}

.comment-post article {
    display: block;
}

.comment-post .comment-avatar {
    float: left;
}

.comment-post .comment-avatar > img {
    margin-bottom: 20px;
    margin-right: 15px;
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

.comment-post .comment-detail {
    display: inline-block;
    padding: 0;
    overflow: visible;
    background-color: transparent;
}

.comment-post .comment-detail .comment-meta {
    margin-bottom: 15px;
}

.comment-meta .comment-author {
    margin-bottom: 0;
}

.comment-post .comment-detail .comment-author {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 0;
}

.comment-post .comment-detail .comment-author a {
    color: #333;
    text-decoration: none;
}

.comment-post .comment-detail .comment-date a {
    display: inline-block;
    margin-left: 0;
    font-size: 12px;
    line-height: 23px;
    color: #999;
}

.comment-post .comment-detail .comment-body {
    padding-bottom: 30px;
    font-size: 14px;
}

.comment-post .comment-detail .comment-reply {
    padding: 11px 19px 9px;
    font-size: 12px;
    background-color: #333;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
}

.post-wrap-single-v1 .comment-post h4.title, .post-wrap-single-v1 .related-posts h4.title {
    font-size: 20px;
    line-height: 23px;
    color: #333;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.title-conmment-respond {
    font-size: 20px;
    line-height: 23px;
    color: #333;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.comment-form .style {
    position: relative;
}

.comment-form .name-container {
    width: 48.27%;
    float: left;
    margin-right: 3.44%;
}

.comment-form input {
    width: 100%;
}

input[type="text"] {
    -webkit-appearance: none;
    text-shadow: none;
    box-shadow: none;
    color: #999;
    border: 1px solid #d5d5d5;
    height: 40px;
    font-size: 12px;
    line-height: 19px;
    max-width: 100%;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.comment-form .message {
    width: 100%;
}

.comment-form .message textarea {
    background-color: #fff;
    -webkit-appearance: none;
    text-shadow: none;
    box-shadow: none;
    color: #999;
    width: 100%;
    height: 180px;
    padding: 20px 15px;
    border: 1px solid #d5d5d5;
    font-size: 14px;
    line-height: 19px;
    max-width: 100%;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.flat-button {
    background-color: #303030;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background-image: none;
    height: 50px;
    line-height: 50px;
    padding: 0 28px;
    cursor: pointer;
    letter-spacing: 0.5px;
    white-space: nowrap;
    border: none;
    border-radius: 3px;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}

.entry-post #news-image {
    text-align: center;
}

.submit-wrap button {
    outline: none;
}

.event-detail {
    font-size: 14px;
}

/*================================ANIMATION PAGE==========================*/

.main-wrap {
    background: url("drama-centre.jpg");
    height: 800px;
}

canvas {
    border: 2px black solid;
    cursor: pointer;
    margin-top: 268px;
    margin-left: 531px;
    outline: none;
}


